<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <img src="/images/node.jpg" height="44px;" />

        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="active"><a href="#">商品管理</a>
                </li>
                <li class="active"><a href="#">系统设置</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您,admin</a>
                </li>
                <li><a href="#">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%include ../public/aside%>
        </div>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">轮播图管理
                </li>
                <li class="active">轮播图列表
                </li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入名称">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">名字</th>
                        <th class="text-center">图片</th>
                        <th class="text-center">类型</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0;i<list.length;i++){ %>
                    <tr class="text-center">
                        <td style="padding-top:30px;"><%=i+1%></td>
                        <td style="padding-top:30px;"><%=list[i].name%></td>
                        <td>
                           <img style="width:70px;height:70px;" src="<%='/'+list[i].face%>" />
                        </td>
                        <td style="padding-top:30px;"><%=list[i].type%></td>

                        <td class="text-center" style="padding-top:30px;"><a href="/admin/focus/editopic?id=<%=list[i]._id%>">修改</a>  <a href="/admin/focus/delete?id=<%=list[i]._id%>">删除</a></td>
                    </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>